.header {
  margin-top: 0;
  background-color: #fcc63f;
  height: 10vh;
  width: 100%; }

.vlaggenMenu {
  position: absolute;
  width: auto;
  height: 11%;
  right: 10px;
  top: 0px;
  background: none;
  border: none; }
  .vlaggenMenu-link {
    height: 40px;
    width: 60px;
    border-radius: 8px;
    display: inline-block;
    background-position: center;
    background-image: url("../img/vlaggenMenu.png");
    background-size: cover; }
  .vlaggenMenu:hover {
    cursor: pointer; }

.gaTerug {
  position: absolute;
  width: auto;
  height: 11%;
  left: 10px;
  top: 0px;
  background: none;
  border: none; }
  .gaTerug-link {
    height: 45px;
    width: 45px;
    border-radius: 8px;
    display: inline-block;
    background-position: center;
    background-image: url("../img/arrow_back.png");
    background-size: cover; }
  .gaTerug:hover {
    cursor: pointer; }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  height: 100%; }

.CityOfferPage-keuzevlak {
  background-color: white;
  margin: 110px 20px;
  border-radius: 15px;
  padding: 27px 7px 12px 7px; }

.CityOfferPage-img {
  width: 76.5vw;
  border-radius: 15px;
  display: block;
  margin: auto; }

.CityOfferPage-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 40px;
  color: #212B5C; }

.CityOfferPage-btn-no {
  text-decoration: none;
  position: absolute;
  left: 40px;
  top: 83%;
  border: none;
  background: none; }
  .CityOfferPage-btn-no-link {
    height: 80px;
    width: 80px;
    display: inline-block;
    background-position: center;
    background-image: url("../img/rodekruis.png");
    background-size: cover;
    padding: 0;
    margin: 0 25px; }

.CityOfferPage-btn-yes {
  text-decoration: none;
  position: absolute;
  right: 40px;
  top: 83%;
  border: none;
  background: none; }
  .CityOfferPage-btn-yes-link {
    height: 80px;
    width: 80px;
    display: inline-block;
    background-position: center;
    background-image: url("../img/groenfinkje.png");
    background-size: cover;
    padding: 0;
    margin: 0 25px; }

@media only screen and (min-width: 768px) {
  .CityOfferPage-img {
    height: 50vh;
    width: auto; } }

.contact-heading-primary {
  text-align: center;
  color: #212B5C; }

.contact-container {
  margin-top: 70px;
  position: relative;
  text-align: center; }
  .contact-container-mail, .contact-container-social, .contact-container-tel, .contact-container-url {
    position: relative;
    margin: 0 auto 40px; }
  .contact-container-text {
    color: #212B5C;
    padding: 25px;
    font-size: 40px;
    margin: 0;
    display: inline-block;
    text-align: center;
    margin-left: 180px; }
  .contact-container-text:hover {
    cursor: pointer; }

.fa {
  background-color: #212B5C;
  color: #FCC63F;
  position: absolute;
  font-size: 4em;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  padding: 15px;
  margin-left: 0; }
  .fa:hover {
    cursor: pointer; }
  .fa-mobile {
    padding: 10px 25px;
    margin-left: 16px; }
  .fa-at, .fa-globe {
    padding: 9px 13px; }
  .fa-twitter {
    margin-left: 16px;
    padding: 6px 10px; }

@media only screen and (max-width: 768px) {
  .contact-heading-primary {
    font-size: 40px; }
  .contact-container {
    margin-top: 70px;
    position: relative;
    text-align: center;
    margin-left: 20px; }
    .contact-container-tel, .contact-container-mail, .contact-container-url, .contact-container-social {
      position: relative;
      margin: 0 auto 40px; }
    .contact-container-tel, .contact-container-social {
      left: -8px; }
    .contact-container-text {
      padding: 25px;
      font-size: 20px;
      margin: 0;
      display: inline-block;
      text-align: center;
      margin-left: 100px; } }

.error-page--code, .error-page--code--explanation, .error-page--code--explanation--text {
  color: #212B5C;
  text-align: center;
  position: absolute; }

.error-page--code {
  top: 70px;
  font-size: 170px;
  margin-left: 50vw;
  transform: translateX(-50%); }
  .error-page--code--explanation {
    top: 300px;
    font-size: 60px;
    margin-left: 50vw;
    transform: translateX(-50%); }
    .error-page--code--explanation--text {
      margin-left: 50vw;
      transform: translateX(-50%);
      top: 400px; }

.error-page--btn--link {
  padding: 15px 100px;
  border-radius: 50px;
  background-color: #000;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  bottom: 8%;
  font-size: 18px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  .error-page--btn--link:hover {
    cursor: pointer; }

@media only screen and (max-width: 768px) {
  .error-page--code {
    top: 40px;
    font-size: 100px; }
    .error-page--code--explanation {
      font-size: 50px;
      top: 170px; }
      .error-page--code--explanation--text {
        font-size: 20px;
        top: 340px; }
  .error-page--btn {
    top: 75%; } }

.gps-container {
  height: 100%;
  width: 100%; }

.gps-text {
  text-align: center;
  position: relative;
  color: #212B5C; }
  .gps-text--loading {
    margin-top: 45px; }
  .gps-text--city {
    margin-top: 90px; }

.pulse {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 36%; }
  .pulse .pulse-animation {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    background-color: #212B5C;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 48px; }
    .pulse .pulse-animation::before, .pulse .pulse-animation::after {
      content: "";
      display: block;
      position: absolute;
      border: 4px solid #212B5C;
      left: -40px;
      right: -40px;
      top: -40px;
      bottom: -40px;
      border-radius: 50%;
      animation: animate 1.5s linear infinite;
      backface-visibility: hidden; }
    .pulse .pulse-animation::after {
      animation-delay: 0.5s; }
    .pulse .pulse-animation-logo {
      display: block;
      height: 100%;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }

.home-beginBtn--link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

@media only screen and (max-width: 768px) {
  .gps-header {
    height: 90px; } }

.page1 {
  position: relative;
  width: 100vw;
  height: 100vh; }

.home-container {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%; }

#logo {
  height: auto;
  z-index: 1;
  margin-top: 40px; }

.home-heading {
  color: #212B5C;
  margin: 0;
  z-index: 2;
  font-size: 3rem; }

.home-beginBtn--link {
  padding: 15px 100px;
  border-radius: 50px;
  background-color: #212B5C;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  bottom: 8%; }

@media only screen and (max-width: 400px) {
  #logo {
    width: 270px; } }

@media only screen and (min-width: 401px) {
  .home-container {
    margin-top: 0; }
  #logo {
    width: 400px; } }

.language-btn {
  border: none;
  position: relative;
  height: 80px;
  width: 128px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 14px;
  display: inline-block;
  background-position: center;
  padding: 0;
  margin: 0 25px; }

.language-container {
  height: 100vh;
  position: relative; }

.language-content {
  top: 80px;
  position: absolute;
  width: 100%; }

.language-title {
  text-align: center;
  margin: 0;
  margin-bottom: 70px;
  color: #212B5C; }

.grid-container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  text-align: center; }

.contact-btn {
  display: block;
  padding: 20px 80px;
  border: none;
  border-top: 1.5px solid #212B5C;
  background: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%; }
  .contact-btn--link {
    color: #212B5C;
    text-decoration: none;
    border-bottom: 1px solid #212B5C;
    font-size: 18px; }

.img-card.mdl-card {
  width: 100%;
  height: 320px; }

.img-card > .mdl-card__title {
  color: #FFF;
  background-size: cover; }

.sightseeing-blok {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px; }

.cityStory--container {
  margin-bottom: 30px; }

.cityStory-img {
  width: 100%; }

.cityStory-text {
  margin: 0 30px; }

.cityStory-title {
  margin: 22px 0;
  color: #212B5C; }

.cityStory-story {
  font-size: 15px; }

.cityStory-btn {
  margin: 40px auto 0% auto;
  display: block;
  padding: 20px 80px;
  border: none;
  border-top: 1.5px solid #212B5C;
  background: none; }

.startPage-img {
  width: 100vw;
  position: relative;
  height: 40vh;
  background-image: url("/img/conducteur.jpg");
  background-position: top;
  background-size: cover; }

.tekstBlok {
  background-color: #141935;
  width: 100%;
  height: 50vh;
  text-align: center; }

.start_knop {
  position: absolute;
  background-color: #FFF;
  color: #141935;
  padding: 15px 100px;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  bottom: 8%;
  transform: translateX(-50%); }

.introductie {
  position: relative;
  top: 20%;
  color: white;
  font-size: 33px;
  line-height: 40px;
  width: 60%;
  text-align: center;
  margin: 0 auto; }
