
.vlaggenMenu, .back_btn {
  width: auto;
  height: 70px;
}

.vlaggenMenu {
  position: absolute;
  right: 20px;
  top: 20px;
}

.back-btn {
  position: absolute;
  left: 20px;
  top: 5px;
}

.vlaggenMenu:hover, .back-btn:hover {
  cursor: pointer;
}

/* .container{
  position: absolute;
  bottom: 0px;
} */

.url-container {
  margin-top: 70px;
  position: relative;
}

#tel, #url, #mail, #social {
  border: 3px solid #4CAF50;
  position: relative;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 40px;
}

.fa {
  background-color: #212B5C;
  color: #FCC63F;
  position: absolute;
  font-size: 4em;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

.fa-mobile {
  padding: 0 15px;
}

/* .fa-phone:before {
  height: 200px;
} */

.contact-text {
  color: #212B5C;
  padding: 25px;
  font-size: 40px;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width : 768px) {
  h1 {
    font-size: 40px;
  }

  #tel, #url, #mail, #social {}

  i {
    margin-right: 10px;
  }

  p {
    font-size: 25px;
  }
}
