.error-page-container{
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
    background-color: #FCC63F;
}

.error-page--code {
  top: 70px;
  font-size: 170px;
  margin-left: 50vw;
  color: #212B5C;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
}

.error-page--code-explanation {
  top: 300px;
  font-size: 60px;
  margin-left: 50vw;
  color: #212B5C;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
}

.error-page--btn {
  position:absolute;
  top: 70%;
  width: 80%;
  font-size: 40px;
  background-color: black;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 25px;
  height: 120px;
  margin-left: 50vw;
  transform: translateX(-50%);
}

.error-page--btn:hover{
  cursor: pointer;
}
