* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
  background: linear-gradient(to bottom, #FCC63F, #FFF) !important;
  background-repeat: no-repeat;
}

body{
  width: 100%;
  box-sizing: border-box;
}

.language-btn {
  border: none;
  position: relative;
  height: 80px;
  width: 128px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 14px;
  display: inline-block;
  background-position: center;
  padding: 0;
  margin:0 25px;
}
