.cityStory {
  &--container {
    margin-bottom: 30px;
  }

  &-img {
    width: 100%;
  }

  &-text {
    margin: 0 30px;
  }

  &-title {
    margin: 22px 0;
    color: $primary-text-color;
  }

  &-story {
    font-size: 15px;
  }

  &-btn {
    margin: 40px auto 0% auto;
    display:block;
    padding: 20px 80px;
    border: none;
    border-top: 1.5px solid $primary-text-color;
    background: none;
  }
}
