.CityOfferPage {

  &-keuzevlak {
    background-color: white;
    margin: 110px 20px;
    border-radius: 15px;
    padding: 27px 7px 12px 7px;
  }

  &-img {
    width: 76.5vw;
    border-radius: 15px;
    display: block;
    margin: auto;
  }

  &-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 40px;
    color: $primary-text-color;
  }

  &-btn-no {
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: 83%;
    border: none;
    background: none;

    &-link {
      height: 80px;
      width: 80px;
      display: inline-block;
      background-position: center;
      background-image: url("../img/rodekruis.png");
      background-size: cover;
      padding: 0;
      margin: 0 25px;
    }
  }

  &-btn-yes {
    text-decoration: none;
    position: absolute;
    right: 40px;
    top: 83%;
    border: none;
    background: none;

    &-link {
      height: 80px;
      width: 80px;
      display: inline-block;
      background-position: center;
      background-image: url("../img/groenfinkje.png");
      background-size: cover;
      padding: 0;
      margin: 0 25px;
    }
  }
}
@media only screen and (min-width : 768px) {
  .CityOfferPage {
    &-img {
      height: 50vh;
      width: auto;
    }
    &-container{
      padding:0 420px;
    }
  }
}
