.CityOfferPage {
  &-content {
    background-color: red;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 80vh;
  }

  &-keuzevlak {
    background-color: #FFF;
    border-radius: 15px;
    padding: 20px 20px 10px 20px;
  }

  &-img {
    width: 70vw;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: auto;
  }

  &-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 35px;
    color: $primary-text-color;
  }

  &-btn {
    text-decoration: none;
    border: none;
    background: none;

    &--no-link, &--yes-link {
      height: 70px;
      width: 70px;
      display: inline-block;
      background-position: center;
      background-size: cover;
      padding: 0;
      bottom: 0px;
      position: absolute;
    }

    &--no {
      &-link {
        left: 0px;
        background-image: url("../img/rodekruis.png");
      }
    }

    &--yes {
      &-link {
        right: 0px;
        background-image: url("../img/groenfinkje.png");
      }
    }
  }
}
// @media only screen and (min-width : 768px) {
//   .CityOfferPage {
//     &-img {
//       height: 50vh;
//       width: auto;
//     }
//     &-container{
//       padding:0 420px;
//     }
//   }
// }
