.CityOfferPage {
  &-keuzevlak {
    background-color: white;
    margin: 110px 20px;
    border-radius: 15px;
    padding: 20px 20px 0px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &-img {
    width: auto;
    height: 60vh;
    border-radius: 15px;
    display: block;
    margin: auto;
  }

  &-text {
    text-align: center;
  }

  &-btn-no {
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: 80%;
    border: none;
    background: none;

    &-link {
      height: 80px;
      width: 80px;
      display: inline-block;
      background-position: center;
      background-image: url("../img/rodekruis.png");
      background-size: cover;
      padding: 0;
      margin: 0 25px;
    }
  }

  &-btn-yes {
    text-decoration: none;
    position: absolute;
    right: 40px;
    top: 80%;
    border: none;
    background: none;

    &-link {
      height: 80px;
      width: 80px;
      display: inline-block;
      background-position: center;
      background-image: url("../img/groenfinkje.png");
      background-size: cover;
      padding: 0;
      margin: 0 25px;
    }
  }
}
@media only screen and (max-width : 768px) {
  .CityOfferPage {
    &-keuzevlak {
      background-color: white;
      margin: 110px 20px;
      border-radius: 15px;
      padding-top: 20px;
    }

    &-img {
      width: 76.5vw;
      border-radius: 15px;
      display: block;
      margin: auto;
    }

    &-text {
      text-align: center;
    }

    &-btn-no {
      text-decoration: none;
      position: absolute;
      right: 40px;
      top: 80%;
      border: none;
      background: none;

      &-link {
        height: 80px;
        width: 80px;
        display: inline-block;
        background-position: center;
        background-image: url("../img/rodekruis.png");
        background-size: cover;
        padding: 0;
        margin: 0 25px;
      }
    }

    &-btn-yes {
      text-decoration: none;
      position: absolute;
      left: 40px;
      top: 80%;
      border: none;
      background: none;

      &-link {
        height: 80px;
        width: 80px;
        display: inline-block;
        background-position: center;
        background-image: url("../img/groenfinkje.png");
        background-size: cover;
        padding: 0;
        margin: 0 25px;
      }
    }
  }
}
