.contact-container {
  margin-top: 70px;
  position: relative;
  margin-right:600px;

  &-tel, &-url, &-mail, &-social {
    border: 3px solid #4CAF50;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &-text {
    color: $primary-text-color;
    padding: 25px;
    font-size: 40px;
    margin: 0;
    display: inline-block;
    text-align: center;
    margin-left: 180px;
  }
}

.fa {
  background-color: $primary-text-color;
  color: #FCC63F;
  position: absolute;
  font-size: 4em;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  padding: 15px;
  
  &-mobile {
    padding: 10px 25px;
  }

  &-globe, &-at, &-twitter {
    padding: 9px 13px;
  }
}

@media only screen and (max-width : 768px) {
  .contact-heading-primary {
    font-size: 40px;
  }
}
