.vlaggenMenu {
  color: black;
  text-decoration: none;

  &-btn {
    border: none;
    float: right;
    height: 80px;
    width: 128px;
    border-radius: 14px;
    display: inline-block;
    background-position: center;
    background-image: url('../img/vlaggenMenu.png');
    background-size: cover;
    padding: 0;
    margin:0 25px;
.contact-heading-primary {
  text-align: center;
  color: $primary-text-color;
}

.vlaggenMenu {
  position: absolute;
  width: auto;
  height: 70px;
  right: 20px;
  top: 20px;

  &:hover {
    cursor: pointer;
  }
}

.contact-container {
  margin-top: 70px;
  position: relative;
  text-align: center;

  &-mail,
  &-social,
  &-tel,
  &-url {
    position: relative;
    margin: 0 auto 40px;
  }

  &-text {
    color: $primary-text-color;
    padding: 25px;
    font-size: 40px;
    margin: 0;
    display: inline-block;
    text-align: center;
    margin-left: 180px;
  }

  &-text:hover {
    cursor: pointer;
  }
}

.fa {
  background-color: $primary-text-color;
  color: #FCC63F;
  position: absolute;
  font-size: 4em;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  padding: 15px;
  margin-left: 0;

  &:hover {
    cursor: pointer;
  }

  &-mobile {
    padding: 10px 25px;
    margin-left: 16px;
  }

  &-at,
  &-globe {
    padding: 9px 13px;
  }

  &-twitter {
    margin-left: 16px;
    padding: 6px 10px;
  }
}
@media only screen and (max-width : 768px) {
  .contact-heading-primary {
    font-size: 40px;
  }
}
