.home-heading {
  position: absolute;
  z-index: 1;
  color: #212B5C;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#logo {
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@media only screen and (max-width : 768px) {
  #logo{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #ns-sightseeing{
    font-size: 38px;
    width: 80%;
  }
}