.language-title {
  text-align: center;
  margin: 100px 0;
}

.grid-container{
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  text-align: center;
}

.contact-btn{
  margin: 150px auto 0% auto;
  display:block;
  padding: 20px 80px;
  border: none;
  border-top: 1.5px solid $primary-btn-color;
  background: none;


  &--link {
    color: $primary-btn-color;
    text-decoration: none;
    border-bottom: 1px solid $primary-btn-color;
  }
}
