.language-container {
  height: 100vh;
  position: relative;
}

.language-content {
  width: 100%;
  position: absolute;
  top: 10%;
}

.language-title {
  text-align: center;
  margin: 0;
  color: $primary-text-color;
}

.grid-container{
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  text-align: center;
  position: absolute;
  top: 100px;
}

.contact-btn {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  display:block;
  padding: 20px 80px;
  border: none;
  border-top: 1.5px solid $primary-text-color;
  background: none;

  &--link {
    color: $primary-text-color;
    text-decoration: none;
    border-bottom: 1px solid $primary-text-color;
  }
}
