.sightseeing {
  &-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &-heading {
    color: $primary-text-color;
    display: inline-block;
  }
}
