.sightseeing {
  &-blok {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    margin-bottom: 50px;
  }
  // &-heading {
  //   color: $primary-text-color;
  //   display: inline-block;
  //   margin-top: 70px;
  // }
  // &-header{
  //   width: 100%;
  //   height: 0px;
  //   margin-left: -25vw;
  //   margin-top: 3vh;
  // }
}
