.startPage-img {
  width: 100vw;
  position: relative;
  height: 40vh;
  background-image: url("/img/conducteur.jpg");
  background-position: top;
  background-size: cover;
}

.tekstBlok {
  background-color: #141935;
  width: 100%;
  height: 50vh;
  text-align: center;
}

.start_knop {
  position: absolute;
  background-color: #FFF;
  color: #141935;
  padding: 15px 100px;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  bottom: 8%;
  transform: translateX(-50%);
}

.introductie {
  position: relative;
  top: 20%;
  color: white;
  font-size: 33px;
  line-height: 40px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
  line-height: 40px;
}
