.vlaggenMenu-link {
  position: absolute;
  background: none;
  width: auto;
  border: none;
  height: 40px;
  width: 60px;
  right: 16px;
  top: 5vh;
  border-radius: 8px;
  display: inline-block;
  background-position: center;
  background-image: url('../img/vlaggenMenu.png');
  background-size: cover;
  transform: translateY(-50%);
  }
