.gaTerug-link {
  position: absolute;
  background: none;
  width: auto;
  border: none;
  left: 16px;
  top: 5vh;
  height: 45px;
  width: 46px;
  border-radius: 8px;
  display: inline-block;
  background-position: center;
  background-image: url('../img/arrow_back.png');
  background-size: cover;
  transform: translateY(-50%); 
  }
